/* .App, body {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  color: #5C4033;
  background: #D3A884;
}

body {
  margin: 0;
  background: #D3A884;
} 

.pet{
  width: calc(33.33% - 20px);
  margin: 0 0 20px;
  padding: 10px;
  border: #333;
}

.pet-image {
  width: 100px;
  aspect-ratio: 1;

}



.pet-component{
  display: flex;
  flex-direction: row;
  align-content: center;

}


.progress {
  height: 20px;
  font-size: 15px;
  width: 200px;
  background-color: #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
}




.pet-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}


.form-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}


.pet-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.pet-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
}


.pet-form button:hover {
  background-color: #45a049;
}

.toy-img{
  width: 100px;
  aspect-ratio: 1;
}



.food-img{
  width: 100px;
  aspect-ratio: 1;
}

.pet-profile-image {
  width: 100px;
  aspect-ratio: 1;

}







.nav-bar {
  background-color: #333; 
  color: white;
  padding: 10px 0;


  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar ul {
  list-style-type: none; 
  padding: 0;
  text-align: center; 
}

.nav-bar li{
  display: inline-block; 
  margin: 0px 80px;

 
}



.nav-bar li:hover {
  color: #4caf50;
  transform: scale(150%);
  transition: all 0.3s;
}






#banner-img {
  background-size: cover;
  background-repeat: no-repeat;   
  background-position: center;
  width: 100%;
}

#virtual-pet-title
{
    font-family: 'Gochi Hand', cursive;
}

.pet{
  width: calc(33.33% - 20px); 
  margin: 0 0 20px; 
  padding: 10px;
  border: #333;
}

.pet-image {
  width: 100px;
  aspect-ratio: 1;

}



.pet-component{
  display: flex;
  flex-direction: row;
  align-content: center;

}


.progress {
  height: 20px;
  font-size: 15px;
  width: 200px;
  background-color: #FFF2E7;
  border-radius: 4px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
}




.pet-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}


.form-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}


.pet-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.pet-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
}


.pet-form button:hover {
  background-color: #45a049;
}

.toy-img{
  width: 100px;
  aspect-ratio: 1;
}


.food-img{
  width: 100px;
  aspect-ratio: 1;
}

.pet-profile-image {
  width: 100px;
  aspect-ratio: 1;

}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #F8A09B;
  --secondary: #E75F5E;
}
body {
  margin: 0;
  background: #D3A884;
} 

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;

}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

.grid-container {
  display: flex;
}
 */

.App {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  color: #5C4033;
  background: #D3A884;
}

#banner-img {
  background-size: cover;
  background-repeat: no-repeat;   
  background-position: center;
  width: 100%;
}

#virtual-pet-title
{
    font-family: 'Gochi Hand', cursive;
}

/* PET */

.pet{
  width: calc(33.33% - 20px); /* Set a fixed width for three books per row */
  margin: 0 0 20px; /* Adjust margin as needed */
  padding: 10px;
  border: #333;
}

.pet-image {
  width: 100px;
  aspect-ratio: 1;

}

.pet-component{
  display: flex;
  flex-direction: row;
  align-content: center;

}

/* Pet health bars */
.progress {
  height: 20px;
  font-size: 15px;
  width: 200px;
  background-color: #FFF2E7;
  border-radius: 4px;
  margin-top: 10px;
  align-items: baseline;
  margin-left: 80px;
}
 
.bar{
  padding: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;

  margin: 0 0 20px; /* Adjust margin as needed */
  padding: 10px;
  border: #333;
}

#interact-link {
  background-color: #E75F5E;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  align-content: center;
  cursor: pointer; 
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;

}

/* Style the form container */
.pet-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F8A09B;
  border-radius: 5px;
}

/* Style the form title */
.form-title {
  text-align: center;
  font-size: 24px;
  color: #5C4033;
  margin-bottom: 20px;
}

/* Style the input fields */
.pet-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style the button */
.pet-form button {
  width: 100%;
  padding: 10px;
  background-color: 93563A;
  /* color: #fff; */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  
}

/* Hover effect for the button */
.pet-form button:hover {
  background-color: 93563A;
}

/* PET PROFILE */

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  gap: 10px;
}



.pet-profile-image {
  width: 200px;
  /* aspect-ratio: 1; */

}

.toy-profile-list {
  padding: 50px;
  padding-top: 150px;
}

.toy-img{
  border-radius: 50px;
  width: 50px;
  aspect-ratio: 1;
}

.toy-img:hover{
  cursor: pointer;
  box-shadow: 1px 1px 20px  #93563A;
}

.food-profile-list {
  padding: 50px;
  padding-top: 150px;
}
.food-img{
  border-radius: 50px;
  width: 50px;
  aspect-ratio: 1;
}

.food-img:hover{
  cursor: pointer;
  box-shadow: 1px 1px 20px  #93563A;
}

#back-link{
  background-color: #E75F5E;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  align-content: center;
  cursor: pointer; 


}



/* nav bar styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #F8A09B;
  --secondary: #E75F5E;
}
body {
  margin: 0;
  background: #D3A884;
} 

/* * {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;

}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

.grid-container {
  display: flex;
}

/* PET MODAL */
#modal-modal-description{
  text-align: justify;
  align-content: center;
  font-family: 'Gochi Hand', cursive;
  font-size: large;
}

#modal-modal-title {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  font-size: xx-large;


}

#petmodal-image {
  align-items: center;
  width: 100px;
}

#modal-button{
  background-color: #E75F5E;
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
  text-transform: lowercase;
  
}